*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1a1d21;
    font-family: Arial, sans-serif;
    /* height: 100%; */
    overflow: hidden;
   
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 16px;
    border-bottom: 1px solid #30363d;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.menu{
    border-radius: 6px;
    border: 1px solid #3a3d41 ;
}
.menu .fa-bars{
    padding: 8px;
}
.menu:hover{
    background:rgb(72, 69, 69);
}
.git-logo img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.dash{
    font-size: 14px;
    font-weight: bold;
}
.nav-right{
    display: flex;
    align-items: center;
    gap:10px
}
.nav-right a{
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
    height: 100%;
}
.search-box{
    flex: 1;
}
.search-box input{
    /* width: 100%; */
    background: #0d1117;
    border: 1px solid #3a3d41;
    border-radius: 6px;
    padding: 6px 15px;
    color: white;
    font-size: 14px;
}
.rit-btn{
    background: transparent;
    border: 1px solid #3a3d41;
    border-radius: 8px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:white;
    font-size: 15px;
    gap:6px;
}
.rit-btn:hover{
    background: #2a2d31;
}
.rit-btn img{
    width: 15px;
    height: 15px;
}
.p-icon{
    width: 33px;
    height: 33px;
    flex-shrink: 0;
}
.p-icon img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}
.sec-part{
    width: 100%;
    height: 100vh;
    background: #212830;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
.left-buttons{
    display: inline-flex;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 8px;

}
.left-buttons button{
    background: #21262d;
    border: none;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-right: 1px solid white;
    transition : background 0.5s;
}
.left-buttons button:last-child{
    border-right: none;
}
.left-buttons button:active{
    background: #1f6feb;
    color: white;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.search-bar input{
    background:#30363d ;
    border-radius: 8px;
    border: 1px solid white;
    padding: 10px 30px;
    width: 500px;
    color: white;
    /* position: relative; */
}
.search-bar .fa-solid{
    position: absolute;
    color: white;
    left: 10px;
    font-size: 14px;
    background: none;
}
.big-box{
    background:#262c36;
    width: 1000px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 8px;
}
.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;
}
.box-header-left{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.box-header-right ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
    color: gray;
}
.box-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background: #212830;
    gap: 20px;
    text-align: center;
    border-radius: 0 0 8px 8px;
}
.pro-tip{
    margin-top: 10px;
    text-align: center;
}
.footer ul li img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.footer ul{
    display: flex;
    list-style: none;
    align-self:center;
    flex-wrap: wrap;
    gap: 15px;
    color: gray;
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
}
.footer ul li{
    display: flex;
    align-items: center;
}
@media (max-width:768px) {
    .rtb1,.rtb2,.rtb3,.rtb4{
        display: none;
    }
    .search-bar input{
        width: 150px;
    }
    .big-box{
        width: 500px;
    }
    .box-header-left{
        display: none;
    }
}
@media (max-width:576px) {
      .dash{
        width: 20px;
    }
    .search-box{
        width: 80px;
    }
    .search-box input{
        width: 40%;
    }
      .big-box{
        width: 300px;
    }
    .box-header-left{
        display: none;
    }

    
}